<div class="dashboard">
  <p id="greeting" class="text-medium text-2">Good Morning</p>
  <p id="username" class="text-medium text-1">Kate Milis</p>
  <div class="wrapper">
    <section class="one">
      <h2 class="text-medium text-2">My Progress</h2>
      <canvas class="progress" id="chart"></canvas>
    </section>
    <section class="two">
      <h2 class="text-medium text-2">Calendar</h2>
      <div class="calendar">
        <div class="header">
          <p class="text-medium text-3" id="month-year">October 2023</p>
          <div class="btn-group">
            <button id="prev">p</button>
            <button id="next">n</button>
          </div>
        </div>
        <div class="body">
          <div class="day">
            <p>Sun</p>
            <p>Mon</p>
            <p>Tue</p>
            <p>Wed</p>
            <p>Thu</p>
            <p>Fri</p>
            <p>Sat</p>
          </div>
          <div class="date"></div>
        </div>
      </div>
    </section>
  </div>
  <div class="wrapper">
    <section class="one">
      <h2 class="text-medium text-2">My Plan</h2>
      <div class="goal">
        <svg width="164" height="164" viewBox="0 0 164 164" id="progress">
          <circle r="70" cx="82" cy="82" fill="transparent" stroke="#e0e0e0" stroke-width="16px"></circle>
          <circle id="stroke-progress" r="70" cx="82" cy="82" fill="transparent" stroke="#60e6a8" stroke-width="12px" stroke-linecap="round" stroke-dasharray="439.6px" stroke-dashoffset="109.9px"></circle>
        </svg>
      </div>
    </section>
    <section class="two">
      <h2 class="text-medium text-2">Journal</h2>
      <div class="journal"></div>
    </section>
  </div>
</div>