<div class="dashboard">
  <p id="greeting" class="text-medium text-2">Good Morning</p>
  <p id="username" class="text-medium text-1">Kate Milis</p>
  <div class="wrapper">
    <section class="one">
      <h2 class="text-medium text-2">My Progress</h2>
      <canvas class="progress" id="chart"></canvas>
    </section>
    <section class="two">
      <h2 class="text-medium text-2">Calendar</h2>
      <div class="calendar">
        <div class="header">
          <p class="text-medium text-3" id="month-year"></p>
          <div class="btn-group">
            <button id="prev">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
              </svg>              
            </button>
            <button id="next">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
              </svg>              
            </button>
          </div>
        </div>
        <div class="body">
          <div class="day">
            <p>Sun</p>
            <p>Mon</p>
            <p>Tue</p>
            <p>Wed</p>
            <p>Thu</p>
            <p>Fri</p>
            <p>Sat</p>
          </div>
          <div class="date"></div>
        </div>
      </div>
    </section>
  </div>
  <div class="wrapper">
    <section class="one">
      <div class="header-goal">
        <h2 class="text-medium text-2">My Plan</h2>
        <a href="/#/plan">See more</a>
      </div>
      
      <div class="goal">
        <div class="btn-group">
          <button class="btn">Diet</button>
          <button class="btn">Exercise</button>
          <button class="btn">Water</button>
        </div>
        <div class="data">
          <div class="metric">
            <div class="section" id="metric-1">
              <span></span>
              <div>
                <p class="title">Burn</p>
                <p class="ammount">600 kcal</p>
              </div>
            </div>
            <div class="section" id="metric-2">
              <span></span>
              <div>
                <p class="title">Target</p>
                <p id="target-goal" class="ammount">1000 kcal</p>
              </div>
            </div>
            <div class="section" id="metric-3">
              <span></span>
              <div>
                <p class="title">Left</p>
                <p class="ammount">400 kcal</p>
              </div>
            </div>
          </div>
          <div class="progress-wrapper">
            <svg width="164" height="164" viewBox="0 0 164 164" id="progress">
              <circle r="70" cx="82" cy="82" fill="transparent" stroke="#e0e0e0" stroke-width="16px"></circle>
              <circle id="stroke-progress" r="70" cx="82" cy="82" fill="transparent" stroke="#60e6a8" stroke-width="12px" stroke-linecap="round" stroke-dasharray="439.6px" stroke-dashoffset="109.9px"></circle>
            </svg>
            <p id="percent">75%</p>
          </div>
        </div>
        
      </div>
    </section>
    <section class="two">
      <div class="header-journal">
        <h2 class="text-medium text-2">Journal</h2>
        <button>Add Data</button>
      </div>
      
      <div class="journal" id="journal-list">
        
      </div>
    </section>
  </div>
</div>

<div class="modal hidden">
  <form class="modal-body" id="add-weight-form">
    <p>Add body weight progress</p>
    <div class="form-control">
      <input type="number" name="weight" id="weight-input" step="0.1" placeholder="55" value="" required>
      <p>kg</p>
    </div>
    <button type="submit">Save</button>
  </form>
</div>