<div class="carousel">
  <div class="slider-wrapper">
    <svg width="567" height="591" viewBox="0 0 567 591" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M346.826 0.208894C419.936 -2.90369 494.961 28.8941 539.285 87.1187C579.904 140.475 564.735 212.724 559.498 279.578C554.86 338.792 544.869 395.059 511.322 444.074C468.245 507.013 423.09 589.373 346.826 590.31C270.419 591.249 235.15 499.157 178.239 448.165C114.928 391.437 2.03472 364.562 0.0281008 279.578C-1.97812 194.61 103.899 156.155 170.086 102.837C225.237 58.4086 276.069 3.22131 346.826 0.208894Z" fill="current" fill-opacity="0.75"/>
    </svg>

    <div class="slider">
      <div class="slide-1">
        <h1 class="heading">Find healthy and delicious <span>food recipes</span></h1>
        <p>Breakfast, lunch, and dinner food categories are available.</p>
        <img src="assets/carousel-image-1.png" alt="image">
      </div>
      <div class="slide-2">
        <h1>Calculate and track your <span>daily intake</span></h1>
        <p>Helps calculate your daily calories and record the food consumed.</p>
        <img src="assets/carousel-image-2.png" alt="image">
      </div>
      <div class="slide-3">
        <h1>Analyze your exercise to <span>achive targets</span></h1>
        <p>Calculate the calories that have been burned from the activities you do.</p>
        <img src="assets/carousel-image-3.png" alt="image">
      </div>
    </div>
  </div>
</div>