<h2 class="text-1 text-semibold">Good day, Kate Milis</h2>
<p class="text-3">Welcome to Fitlife. We are ready to help you with a healthy diet and lifestyle</p>

<div class="wrapper">
    <div>
        <h3 class="text-2 text-semibold">Account Settings</h3>
        <div class="profil">
            <h4 class="text-3 text-medium">Personal Information</h4>
            <p class="text">Here you can add a new information about yourself or edit an waisting personal information</p>
            <form class="form" id="personal-information">
                <div class="grid data">
                    
                </div>
                <div class="grid action-form">
                    <button type="submit" class="btn">Save changes</button>
                    <button type="button" class="btn btn-outline">Discard changes</button>
                </div>
            </form>
        </div>
    </div>
    
    <div>
        <h3 class="text-2 text-semibold">Photo Settings</h3>
        <div class="photo">
            <img src="../assets/male.png" alt="profile-picture">
            <input type="file" name="photo" id="photo-profile" class="hidden" accept="image/*">
            <label for="photo-profile" class="btn">Browse Photo</label>
            <hr>
            <button class="btn" id="sign-out">Sign Out</button>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="profil">
        <h4 class="text-3 text-medium">Changing Password</h4>
        <p class="text">Here you can change the password</p>
        <form class="form" id="change-password">
            <div class="grid data">
                
            </div>
            <div class="grid action-form">
                <button type="submit" class="btn">Save changes</button>
                <button type="button" class="btn btn-outline">Discard changes</button>
            </div>
        </form>
    </div>
</div>


