<section>
  <img id="ilustration" src="assets/ilustration-1.svg" alt="ilustration">
</section>
<section>
  <form class="card" id="register-form">
    
    <!-- <div class="hidden" id="acc-page">
      <h2 class="text-medium text-3">Welcome</h2>
      <p class="text-normal text-5">Please enter your details to register here!</p>
      <div class="form-control">
        <label for="email-input" class="text-medium text-5">Name</label>
        <div class="relative">
          <i class="fa fa-user"></i>
          <input type="text" name="name" id="name-input">
        </div>
      </div>
      <div class="form-control">
        <label for="email-input" class="text-medium text-5">Email</label>
        <div class="relative">
          <i class="fa fa-envelope"></i>
          <input type="email" name="email" id="email-input">
        </div>
      </div>
      <div class="form-control">
        <label for="password-input" class="text-medium text-5">Password</label>
        <div class="relative">
          <i class="fa fa-lock"></i>
          <input type="password" name="password" id="password-input">
        </div>
      </div>
      <div class="form-control-2">
        <input type="checkbox" value="" id="remember">
        <label for="remember" class="text-medium text-6">Remember me</label>
      </div>
      <button type="submit" class="btn text-medium">Sign Up</button>
      <p class="small text-normal text-6">Do you have an account? <a href="/#/login">Sign In</a></p>
    </div>
    <div id="gender-page" class="">
      <button id="btn-back">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
        </svg>        
      </button>
      <h2 class="text-medium text-3">What's your gender?</h2>
      <p class="text-normal text-5">This is used to set up recommendation just for you</p>
      <div class="wrapper">
        <input type="radio" name="gender" id="male" value="male" class="hidden">
        <label class="option" for="male">
          <img src="../assets/male.png" alt="male">
          <p>Male</p>
        </label>
        <input type="radio" name="gender" id="female" value="female" class="hidden">
        <label class="option" for="female">
          <img src="../assets/female.png" alt="female">
          <p>Female</p>
        </label>
      </div>
      <button type="submit" class="btn text-medium">Next</button>
    </div>
    <div id="age-page" class="hidden">
      <h2 class="text-medium text-3">How old are you?</h2>
      <p class="text-normal text-5">This is used to set up recommendation just for you</p>
    </div>
    <div id="tall-page" class="hidden">
      <h2 class="text-medium text-3">How tall are you?</h2>
      <p class="text-normal text-5">This is used to set up recommendation just for you</p>
    </div>
    <div id="tall-page" class="hidden">
      <h2 class="text-medium text-3">What's your current weight?</h2>
      <p class="text-normal text-5">This is used to set up recommendation just for you</p>
    </div>
    <div id="activity-page" class="hidden">
      <h2 class="text-medium text-3">What's your activity level?</h2>
      <p class="text-normal text-5">This is used to set up recommendation just for you</p>
    </div> -->
    
  </form>
</section>