<section>
  <img src="assets/Diet-amico.svg" alt="">
</section>
<section>
  <form class="card">
    <h2 class="text-medium text-3">Welcome</h2>
    <p class="text-normal text-5">Please enter your details to register here!</p>
    <div class="form-control">
      <label for="email-input" class="text-medium text-5">Name</label>
      <div class="relative">
        <i class="fa fa-user"></i>
        <input type="email" name="name" id="name-input">
      </div>
    </div>
    <div class="form-control">
      <label for="email-input" class="text-medium text-5">Email</label>
      <div class="relative">
        <i class="fa fa-envelope"></i>
        <input type="email" name="email" id="email-input">
      </div>
    </div>
    <div class="form-control">
      <label for="password-input" class="text-medium text-5">Password</label>
      <div class="relative">
        <i class="fa fa-lock"></i>
        <input type="password" name="password" id="password-input">
      </div>
    </div>
    <div class="form-control-2">
      <input type="checkbox" value="" id="remember">
      <label for="remember" class="text-medium text-6">Remember me</label>
    </div>
    <button type="submit" class="btn text-medium">Sign Up</button>
    <p class="small text-normal text-6">Do you have an account? <a href="/#/login">Sign In</a></p>
  </form>
</section>