main {
  width: 89%;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
}

.search-box{
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-box .input-icons {
    width: 30%;
}

.search-box input{
    border: 2px solid #34D399;
    border-radius: .5rem;
    width: 100%;
    background-color: #fff;
}
  
.icon {
    padding: 13px;
    min-width: 40px;
}
  

.card-container{
    text-align: center;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}

.card{
    border-radius: .5rem;
    width: 280px;
    /* height: 350px; */
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.10);
    border: 1px solid var(--gray-200);
    /* padding-bottom: 2.5rem; */
    margin-bottom: 1rem;
}

.card:hover .body,
.card:hover {
    background-color: var(--gray-100);
}

.card .header {
    background-color: #fff;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    height: 210px;
    width: 100%;
}
.card .header img {
    height: 210px;
    width: 100%;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    object-fit: cover;
}
.card .body {
    padding: 1rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    text-align: start;
    padding-bottom: 2rem;
}
.card .body p {
    font-size: 1.125rem;
    font-weight: 500;
}
.card .desc {
    margin-top: 1rem;
    display: flex;
    gap: .5rem;
}
.card .desc svg {
    width: 1rem;
}
.card .desc p {
    font-size: .875rem;
}
.card .desc div {
    display: flex;
    flex-direction: row-reverse;
}

.card-header{
    background: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.card-image{
    flex: 1 1 0;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.card-image img{
    width: 341.14px;
    height: 227.5px;
}

.card-body{
    width: 300px;
    height: 122.50px;
    position: relative;
    background: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}

.card-title{
    width: 268px;
    left: 16px;
    top: 15.50px;
    position: absolute;
    color: black;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 28px;
    word-wrap: break-word;
}

.card-description{
    left: 16px;
    top: 55.50px;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    display: inline-flex;
}

.card-description2{
    left: 99px;
    top: 55.50px;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    display: inline-flex;
}

.card-content{
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-icon{
    width: 16px;
    height: 16px;
    position: relative;
}

.card-icon2{
    width: 9.60px;
    height: 11.20px;
    left: 3.20px;
}

.card-icon-text{
    text-align: center;
    color: #6B7280;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 1rem;
    width: 100%;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

form.filter {
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--gray-200);
    height: fit-content;
}
form.filter h3 {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
form.filter .form-control {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .5rem;
}
form.filter input,
form.filter label {
    cursor: pointer;
}
form.filter button {
    margin-top: 2rem;
    width: 100%;
}
form.filter input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    width: .875rem;
    height: .875rem;
    border: 2px solid currentColor;
    border-radius: 50%;
    display: grid;
    place-content: center;
}
form.filter input[type="radio"]::before {
    content: "";
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem 1rem var(--green-500);
}
form.filter input[type="radio"]:checked:before {
    transform: scale(1);
}

.card-filter{
    width: 305px; height: 330px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    background: white;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.10); 
    border-radius: 8px; 
    border: 1px #E5E7EB solid; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    display: inline-flex;
}

.card-filter-1{
    width: 257px; 
    height: 298px; 
    position: relative;
}

.filter-text-1{
    left: 0px; 
    top: 0px; position: 
    absolute; color: black; 
    font-size: 18px; 
    font-family: Poppins; 
    font-weight: 500; 
    line-height: 28px; 
    word-wrap: break-word;
}

.filter-text-2{
    left: 40px; top: 230px; 
    position: absolute; 
    color: #6B7280; 
    font-size: 14px; 
    font-family: Poppins; 
    font-weight: 400; 
    line-height: 20px; 
    word-wrap: break-word;
}

.filter-icon{
    width: 89px; 
    height: 140px; 
    left: 0px; 
    top: 60px; 
    position: absolute;
}

.filter-icon-1{
    width: 89px; 
    height: 20px; 
    left: 0px; 
    top: 30px; 
    position: absolute; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 6px; 
    display: inline-flex;
}

.filter-icon-2{
    width: 64px; 
    height: 20px; 
    left: 0px; 
    top: 60px; 
    position: absolute; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 6px; 
    display: inline-flex;
}

.filter-icon-3{
    width: 68px; 
    height: 20px; 
    left: 0px; 
    top: 90px; 
    position: absolute; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 6px; 
    display: inline-flex;
}

.filter-icon-4{
    width: 66px; 
    height: 20px; 
    left: 0px; 
    top: 120px; 
    position: absolute; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 6px; 
    display: inline-flex;
}

.filter-icon-5{
    width: 40px; 
    height: 20px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 6px; 
    display: inline-flex;
}

.filter-icon-border{
    padding: 4px; 
    border-radius: 6px; 
    border: 2px #34D399 solid;
}

.filter-icon-text{
    text-align: center; 
    color: #6B7280; 
    font-size: 14px; 
    font-family: Poppins; 
    font-weight: 500; 
    line-height: 20px; 
    word-wrap: break-word;
}

.filter-button{
    width: 256px; 
    height: 40px; 
    padding-left: 20px; 
    padding-right: 20px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    left: 1px; top: 258px; 
    position: absolute; 
    background: #34D399; 
    border-radius: 8px; 
    justify-content: center; 
    align-items: center; 
    gap: 8px; 
    display: inline-flex;
}

.filter-button-text{
    text-align: center; 
    color: black; 
    font-size: 14px; 
    font-family: Poppins; 
    font-weight: 500; 
    line-height: 20px; 
    word-wrap: break-word;
}
