main {
  width: 89%;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
}

.dashboard {
  padding: 3rem;
  background-color: var(--green-50);
  border-radius: 1.125rem;
}

#greeting {
  color: var(--gray-500);
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.dashboard section {
  padding: 2rem 3rem;
  background-color: #fff;
  border-radius: .5rem;
  
}

.progress {
  width: 30rem;
  height: 20.125rem;
  margin-top: 2rem;
}

.calendar {
  width: 24rem;
  border-radius: .5rem;
  margin-top: 2rem;
  border: 1px solid var(--gray-200);
  padding: 1.5rem 2rem;
}

.calendar .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.calendar .btn-group button {
  padding: .625rem;
  border-radius: 50%;
  border: 1px solid var(--green-400);
  /* background-color: aqua; */
}
.calendar .btn-group button:hover {
  background-color: var(--green-400);
}
.calendar .btn-group button svg {
  color: #000;
  width: 1rem;
}

.calendar .body {
  margin-top: 1rem;
}

.calendar .day, .calendar .date {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: .5rem;
}

.calendar .day p {
  text-align: center;
}

.calendar .date button {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
.calendar .date button:hover {
  background-color: var(--green-400);
}
.calendar .date button:disabled {
  background-color: transparent;
  color: var(--gray-500);
}
.calendar .date button:disabled:hover {
  background-color: transparent;
}
.calendar .date button.today {
  border: 1px solid var(--green-400);
}
.calendar .date button.active {
  background-color: var(--green-400);
}

#progress {
  transform: rotate(-90deg);
}

.goal {
  width: 30rem;
}

.goal .btn-group {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.goal .btn-group button {
  font-size: .875rem;
  border-radius: 99px;
  background-color: #fff;
  border: 2px solid var(--green-400);
}
.goal .btn-group button:hover {
  background-color: var(--green-400);
}
.goal .data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.goal .data .section {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.goal .data span {
  border-left: 4px solid var(--green-400);
  height: 1.75rem;
}

.goal .data .title {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--gray-500);
}

.goal .data .ammount {
  font-size: 1.25rem;
  font-weight: 500;
}

.goal .progress-wrapper {
  position: relative;
}
.goal .progress-wrapper p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: 500;
}

.journal {
  width: 24rem;
}

.metric {
}