:root {

    --text-color: #404246;
    --color-text: #6B7280;
    --background: #ECFDF5;
    --botton-color: #34D399;
    --bg-color: #FFF;
}

body {
    background-color: var(--green-50);
}

main {
    width: 89%;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
}

.text-semibold {
    font-weight: 800;
}

p {
    color: var(--gray-500);
    font-weight: 400;
}

.wrapper {
    display: flex;
    gap: 5rem;
    margin-top: 1rem;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    justify-items: start;
}

.profil {
    width: 45rem;
    background: var(--bg-color);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

h2 {
    font-weight: 500;
}

h3 {
    margin-bottom: .5rem;
}

.text {
    color: var(--color-text);
    font-weight: 300;
    font-size: 1rem;
    margin: .5rem 0;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: .5rem 3rem;
}

.action-form button {
    width: 100%;
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.form .form-control input {
    width: 100%;
}

label {
    display: flex;
    color: black;
    font-weight: 600;
    font-size: 1rem;
}

input {
    background-color: #fff;
}
input:hover {
    background-color: #fff;
}
input:focus {
    background-color: #fff;
}

select {
    width: 100%;
    padding: .625rem;
    border-radius: .5rem;
    font-size: .875rem;
    line-height: 1.25rem;
    border: 1px solid var(--green-300);
}
select:hover {
    background-color: #fff;
    border: 1px solid var(--green-400);
}
select:focus {
    background-color: #fff;
    outline: 0 none;
    border: 2px solid var(--green-400);
}

.photo {
    width: 18rem;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    padding: .5rem;
    border-radius: 0.75rem;
    background: #FFF;
}


.photo img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: .5rem;
    object-fit: cover;
}

.photo label,
.photo button {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.photo button {
    border: 2px solid #d33434;
    background-color: #fff;
}

.photo hr {
    margin: .25rem auto;
    width: 80%;
    border: 1px solid var(--gray-500);
}
.photo button:hover {
    color: #fff;
    background-color: #d33434;
}